.type_writer {
	/* 1920 - 100, 375 - 30 */
	font-size: clamp(1.875rem, 0.8131rem + 4.5307vw, 6.25rem);
	display: flex;
	flex-direction: column;
	font-weight: 600;
	z-index: 2;
	box-sizing: border-box;
	line-height: 1;
	width: fit-content;
	opacity: 0.6;
}

.type_it {
	color: var(--color-accent);
	--ti-cursor-color: var(--color-accent);
	text-shadow:
		-1px -1px 0 var(--color-accent-dark),
		1px -1px 0 var(--color-accent-dark),
		-1px 1px 0 var(--color-accent-dark),
		1px 1px 0 var(--color-accent-dark);
}

.greet_row {
	color: var(--color-white-secondary);
}
