.root.button {
	/* 1920 - 20, 375 - 14  */
	font-size: clamp(0.875rem, 0.784rem + 0.3883vw, 1.25rem);
	font-weight: 400;
	border-radius: 50%;
	cursor: pointer;
	padding: 0;
	margin: 0;

	/* 1920 - 40, 375 - 36  */
	width: clamp(2.25rem, 2.1893rem + 0.2589vw, 2.5rem);
	height: clamp(2.25rem, 2.1893rem + 0.2589vw, 2.5rem);
	box-sizing: border-box;
}
