.button {
	display: flex;
	padding: 6px 15px;
	justify-content: center;
	align-items: center;

	border-radius: 30px;
	border: none;
	background: transparent;
	line-height: 24px;
	border: 2px solid var(--color-accent);

	z-index: 1;
	font-size: 14px;
	font-weight: 400;
	outline: none;
	width: fit-content;
	position: relative;

	cursor: pointer;
	overflow: hidden;
	color: var(--color-white-font-title);
	/* 1920 - 20, 375 - 14  */
	font-size: clamp(0.875rem, 0.784rem + 0.3883vw, 1.25rem);
	/* 1920 - 8/20, 375 - 4/10  */
	padding: clamp(0.25rem, 0.1893rem + 0.2589vw, 0.5rem)
		clamp(0.875rem, 0.784rem + 0.3883vw, 1.25rem);
}

.button__content {
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.button__background {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0px;
	height: 0px;
	border-radius: 50%;
	background: var(--color-accent);
	opacity: 0.4;
	z-index: 1;
	transition: all 0.4s ease-in-out;
}

.button:hover .button__background {
	width: 1000px;
	height: 1000px;
}

.button.button__primary .button__background {
	width: 1000px;
	height: 1000px;
}

.button.button__primary:hover .button__background {
	opacity: 0.8;
}
