.root {
	position: relative;
	min-height: 100dvh;
	width: 100vw;
	display: flex;
	overflow: hidden;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.section_title {
	color: var(--color-gray);
	padding: 10px;
	font-size: clamp(3.125rem, 1.1444rem + 6.338vw, 8.75rem);
	font-weight: 700;
	text-transform: uppercase;
	top: var(--navbar-height);
	right: 0;
	line-height: 1;
	white-space: nowrap;
	text-align: center;
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.project_type {
	display: flex;
	width: 100%;
	border-top: var(--border);
	border-bottom: var(--border);
	position: relative;
}

.project_type_content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	/* 1920 70-40 / 375 40-20 */
	padding: clamp(1.875rem, 1.2682rem + 2.589vw, 4.375rem)
		clamp(1.25rem, 0.9466rem + 1.2945vw, 2.5rem);
	width: max(40%, 375px);
	border-right: var(--border);
}

.project_type_title {
	/* 1920 30 / 375 26 */
	font-size: clamp(1.625rem, 1.5643rem + 0.2589vw, 1.875rem);
}

.project_type_description {
	/* 1920 20 / 375 18 */
	font-size: clamp(1.125rem, 1.0947rem + 0.1294vw, 1.25rem);
	color: var(--color-white-secondary);
}

.project_type_image {
	background: url('../../Assets/p_3.png');
	flex: 1;
	background-size: cover;
	width: 60%;
	opacity: 0.3;
	background-position: left;
}

.project_type_2 {
	flex-direction: row-reverse;
	text-align: right;
}

.project_type_2 .project_type_content {
	border-right: none;
	border-left: 5px solid var(--color-blue-dark_2);
}

.project_type_2 .project_type_image {
	background: url('../../Assets/p_4.png') no-repeat;
	flex: 1;
	background-size: cover;
	width: 60%;
	opacity: 0.3;
	background-position: top;
}

@media (max-width: 550px) {
	.root .project_type_image {
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.1;
	}
}
