.logo {
	transform: translateY(0px);
	animation: var(--float-animation);
}

.icon {
	/* 1920 - 60, 900 - 45 */
	width: clamp(2.8125rem, 2.585rem + 0.9709vw, 3.75rem);
	height: clamp(2.8125rem, 2.585rem + 0.9709vw, 3.75rem);
}
