.root {
	position: relative;
	width: 100vw;
	display: flex;
	overflow: hidden;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.2);
	border-top: var(--border);

	/* 1920 - 200, 375 - 40 */
	--title-font-size: clamp(2.5rem, 0.0728rem + 10.356vw, 12.5rem);
	/* 1920 - 20, 375 - 10 */
	--title-padding: clamp(0.625rem, 0.4733rem + 0.6472vw, 1.25rem);

	padding-left: calc(var(--title-font-size) + var(--title-padding) * 2);
}

.section_title {
	color: var(--color-gray);
	background: var(--background-overlay);
	font-size: var(--title-font-size);
	font-weight: 700;
	height: 100%;
	text-transform: uppercase;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 1;
	writing-mode: sideways-lr;
	white-space: nowrap;
	text-align: right;
	padding: var(--title-padding);
	border-right: var(--border);
	border-bottom: var(--border);
	box-sizing: border-box;
}

.content {
	flex: 1;
	flex-direction: column;
	width: 100%;
	height: 100%;
	display: flex;
}

.row {
	border-bottom: var(--border);
	box-sizing: border-box;
	flex: 1;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.skill_wrapper {
	/* 1920 - 40/60, 375 - 20/40 */
	padding: clamp(1.25rem, 0.9466rem + 1.2945vw, 2.5rem)
		clamp(2.5rem, 2.1966rem + 1.2945vw, 3.75rem);

	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	gap: 40px;
	width: 50%;
	max-width: 50%;
	margin-right: auto;
	flex: 1;
	background: var(--background-overlay);
}

.row_2 .skill_wrapper,
.row_4 .skill_wrapper,
.row_6 .skill_wrapper {
	text-align: right;
	margin-right: unset;
	margin-left: auto;
}

.row_2 .skill_wrapper .skills_group_item::before,
.row_4 .skill_wrapper .skills_group_item::before,
.row_6 .skill_wrapper .skills_group_item::before {
	right: -30px;
	left: unset;
}

.skill_image_wrapper {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 100%;
	width: max(360px, 50%);

	background: url('../../Assets/s_1.png') no-repeat;
	background-size: cover;
	z-index: -1;
	opacity: 0.5;
}

.row_2 .skill_image_wrapper {
	background: url('../../Assets/s_2.png') no-repeat;
	background-size: cover;
	width: max(360px, 50%);

	right: unset;
	left: 0;
}

.row_3 .skill_image_wrapper {
	background: url('../../Assets/s_3.png') no-repeat;
	background-size: cover;
	width: max(360px, 50%);
}

.row_4 .skill_image_wrapper {
	background: url('../../Assets/s_4.png') no-repeat;
	background-size: cover;
	width: max(360px, 50%);

	right: unset;
	left: 0;
}

.row_5 .skill_image_wrapper {
	background: url('../../Assets/s_5.png') no-repeat;
	background-size: cover;
	width: max(360px, 50%);
}

.row_6 .skill_image_wrapper {
	background: url('../../Assets/s_6.png') no-repeat;
	background-size: cover;
	width: max(360px, 50%);

	right: unset;
	left: 0;
}

.row_7 .skill_image_wrapper {
	background: url('../../Assets/s_7.png') no-repeat;
	background-size: cover;
	width: max(360px, 50%);
}

.title {
	padding: 20px;
	border-bottom: var(--border);
	font-size: clamp(1.625rem, 1.4733rem + 0.6472vw, 2.25rem);
	color: var(--color-red);
	opacity: 0.7;
	background: var(--background-overlay);
}

.title_2 {
	text-align: right;
}

.skills_groups {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	overflow: hidden;
}

.skill {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.skills_group {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.skills_group_title {
	/* 1920 - 24, 375 - 20 */
	font-size: clamp(1.25rem, 1.1893rem + 0.2589vw, 1.5rem);
}

.skills_group_items {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: clamp(1rem, 0.9393rem + 0.2589vw, 1.25rem);
}

.skills_group_item {
	color: var(--color-white-secondary);
	position: relative;
	white-space: wrap;
}

.skills_group_item::before {
	content: ' ';
	background: url('../../Assets/gummy_bears.png') no-repeat;
	background-size: contain;
	width: 25px;
	height: 20px;
	left: -35px;
	bottom: 0px;
	position: absolute;
	opacity: 0.4;
}

.message {
	/* 1920 - 40/60, 375 - 20/40 */
	padding: clamp(1.25rem, 0.9466rem + 1.2945vw, 2.5rem);
	font-size: clamp(1.25rem, 0.8979rem + 1.1268vw, 2.25rem);
	text-align: right;
	color: var(--color-white-secondary);
	box-sizing: border-box;
	border-bottom: var(--border);
	background: var(--background-overlay);
}

@media (max-width: 1000px) {
	.row {
		background: var(--background-overlay);
	}
	.skill_wrapper {
		max-width: max(70%, 450px);
		background: transparent;
	}

	.skill_image_wrapper {
		opacity: 0.4;
	}
}
@media (max-width: 500px) {
	.root {
		padding-left: 0;
		padding-top: calc(var(--title-font-size) + var(--title-padding) * 2);
	}
	.section_title {
		writing-mode: unset;
		width: 100%;
		height: fit-content;
		border: none;
	}

	.bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.3;
		background: url('../../Assets/s_bg_1.png') no-repeat;
		background-size: cover;
	}

	.title {
		background: rgba(0, 0, 0, 0.4);
	}
	.root .row {
		min-height: unset;
	}

	.title_1 {
		border-top: var(--border);
	}
	.root .skill_wrapper {
		width: 100%;
		max-width: unset;
		margin-left: unset;
		margin-right: unset;
	}
	.root .skill_image_wrapper {
		width: 100%;
		opacity: 0;
	}
}
