.motivation {
	color: var(--color-white-secondary);
	position: relative;
	width: fit-content;

	/* 1920 - 40, 375 - 20 */
	font-size: clamp(1.25rem, 0.9466rem + 1.2945vw, 2.5rem);
}

.fire {
	height: 100px;
	opacity: 0.3;
}

.motivation span:last-child {
	position: relative;
}
