.root {
	position: relative;
	height: 100dvh;
	padding-top: var(--navbar-height);
	width: 100vw;
	display: flex;
	overflow: hidden;
	box-sizing: border-box;
	gap: 20px;
}

.section_title {
	color: var(--color-gray);
	padding: 10px;
	font-size: 150px;
	font-weight: 1000;
	text-transform: uppercase;
	position: absolute;
	top: var(--navbar-height);
	right: 0;
	line-height: 0.8;
	white-space: nowrap;
	text-align-last: right;
	z-index: 2;
}

.content {
	display: flex;
	justify-content: flex-start;
	flex: 1;
	z-index: 2;
}

.column {
	flex: 1;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	margin-top: auto;
}

.column_2,
.column_3 {
	height: calc(100% - 120px);
}

.content .column:not(:last-child) {
	border-right: 5px solid var(--color-accent-dark);
}

.column .image {
	transition: all 0.3s;
}

.column_1 .image {
	position: absolute;
	width: 100%;
	height: auto;
	object-fit: cover;
	opacity: 0.2;
	bottom: -50px;
}

.column_2 .image {
	position: absolute;
	width: 100%;
	height: auto;
	object-fit: cover;
	opacity: 0.2;
	bottom: -100px;
}

.column_3 .image {
	position: absolute;
	width: 100%;
	height: auto;
	object-fit: cover;
	opacity: 0.2;
	bottom: -50px;
}

.column:hover .image {
	bottom: -20px;
	opacity: 0.3;
}
.column_1:hover .image,
.column_3:hover .image {
	bottom: 0px;
}

.item {
	width: 100%;
	padding: 40px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 20px;
	z-index: 3;
	text-shadow:
		-1px -1px 0 var(--color-black-bg),
		1px -1px 0 var(--color-black-bg),
		-1px 1px 0 var(--color-black-bg),
		1px 1px 0 var(--color-black-bg);
}

.item_date {
	font-size: 30px;
	font-weight: 700;
	color: var(--color-red);
}

.item_title {
	font-size: 30px;
}

.item_description {
	font-size: 18px;
	color: var(--color-white-secondary);
}

.item_skills {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	color: var(--color-white-secondary);
}

.item_skills_title {
	white-space: nowrap;
}

.item_skills_description {
	text-align: right;
}

.column_1 .item,
.column_2 .item {
	padding-top: 100px;
}
.column_3 .item {
	margin: auto;
	padding-bottom: 100px;
}

.matrix {
	position: absolute;
	bottom: 0;
	z-index: 5;
	width: 100%;
	opacity: 0.4;
}

.column .figure,
.column .figure canvas {
	width: 30vw;
	height: auto;
	aspect-ratio: 1 / 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.column .figure {
	position: absolute;
	bottom: 0;
}

.bg {
	width: 100dvw;
	height: 300px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 4;
	background: url('../../Assets/z_4.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

.bg::before {
	content: '';
	position: absolute;
	display: block;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: var(--color-black-bg);
	z-index: 1;
	opacity: 0.5;
}
