.root {
	position: relative;
	width: 100vw;
	display: flex;
	overflow: hidden;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.4);

	/* 1920 - 150, 1280 - 50 */
	--title-font-size: clamp(3.125rem, 1.608rem + 6.4725vw, 9.375rem);

	/* 1920 - 40, 375 - 20 */
	--padding: clamp(1.25rem, 0.9466rem + 1.2945vw, 2.5rem);

	--image-height: 200px;
}

.title_column {
	display: flex;
	flex-direction: column;
	padding: var(--padding) 0 var(--padding) var(--padding);
	gap: 20px;
	width: 50%;
}

.section_title {
	color: var(--color-gray);
	font-size: var(--title-font-size);
	font-weight: 1000;
	text-transform: uppercase;
	white-space: nowrap;
	z-index: 2;
	text-align: right;
}

.content {
	padding: var(--padding);
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.messages {
	/* 1920 - 25, 375 - 18 */
	font-size: clamp(1.125rem, 1.0188rem + 0.4531vw, 1.5625rem);
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.message.message_accent {
	/* 1920 - 30, 375 - 20 */
	font-size: clamp(1.25rem, 1.0983rem + 0.6472vw, 1.875rem);
	color: var(--color-white-font-title);
}

.message {
	color: var(--color-white-secondary);
}

.contacts {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.contacts_title {
	/* 1920 - 30, 375 - 20 */
	font-size: clamp(1.125rem, 1.0188rem + 0.4531vw, 1.5625rem);
	color: var(--color-white-font-title);
}

.contacts_group {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-left: 35px;
}

.contacts_item {
	text-decoration: none;
	color: var(--color-white-font-title);
	/* 1920 - 25, 375 - 18 */
	font-size: clamp(1.125rem, 1.0188rem + 0.4531vw, 1.5625rem);
	position: relative;
	opacity: 0.6;
	transition: all 0.3s;
	width: fit-content;
}

.contacts_item::before {
	content: ' ';
	background: url('../../Assets/gummy_bears.png') no-repeat;
	background-size: contain;
	width: 25px;
	height: 20px;
	left: -35px;
	bottom: 0px;
	position: absolute;
}

.contacts_item:hover {
	opacity: 1;
}

.buttons {
	display: flex;
	align-items: center;
	gap: 10px;
	white-space: nowrap;
	flex-wrap: wrap;
	font-size: 14px;
}

.link_download {
	text-decoration: none;
	color: var(--color-white-font-title);
	font-size: 14px;
}

.button_download,
.button_copy {
	--color-accent: var(--color-blue-dark_2);
	font-weight: 300;
	padding: 7px 20px;
	font-size: 14px;
}

.image_wrapper {
	flex: 1;
	background: url('../../Assets/c_8.gif') no-repeat;
	background-size: cover;
	background-position: center;
	opacity: 0.3;
	position: relative;
	border-radius: 10px;
}
.image_wrapper .wall {
	width: 100%;
	height: 100%;
}
.root .hand_button {
	position: absolute;
	bottom: 20px;
	right: 20px;
	opacity: 1 !important;
	z-index: 5;
	transform: rotate(170deg);
}

.hands {
	width: 100%;
	height: 100%;
	margin: auto;
	position: absolute;
	bottom: 0px;
	left: 0;
	background: url('../../Assets/c_9.png') no-repeat;
	background-size: contain;
	opacity: 0.8;
	background-position: center;
	z-index: 60;
	animation: var(--float-animation);
}

@media (max-width: 1000px) {
	.title_column {
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		position: static;
	}

	.content {
		padding-top: calc(var(--title-font-size) + 80px);
		padding-bottom: calc(var(--image-height) + 40px);
	}

	.section_title {
		position: absolute;
		top: -0px;
		left: 0px;
		padding: 20px 0 20px 20px;
		border-bottom: var(--border);
		border-top: var(--border);
		width: 100%;
		text-align: left;
	}

	.image_wrapper {
		height: var(--image-height);
		flex: unset;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
}
