.sheet {
	height: 100dvh;
	width: min(100dvw, 500px);
	background: var(--color-black-bg);
	position: fixed;
	top: 0;
	right: -120%;
	z-index: 100;
	transition: right 0.5s ease-in-out;
	box-sizing: border-box;
}

.shown {
	right: 0;
}

.overlay {
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	left: 0;
	top: 0;
	width: 100dvw;
	height: 100dvh;
	z-index: -1;
	opacity: 0;
	transition: opacity 0.5s;
	display: none;
}

.overlay__shown {
	opacity: 1;
	z-index: 9;
	pointer-events: none;
}
