.root {
	position: relative;
	height: var(--section-height);
	width: 100dvw;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background: var(--background-overlay);
}

.section {
	display: flex;
	flex-direction: column;
	position: relative;
	flex: 1;
	box-sizing: border-box;
	justify-content: center;
	height: 100%;
}

.motivation_wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
	position: relative;
	z-index: 2;
	width: fit-content;
}

.motivation {
	color: var(--color-white-secondary);
}

.motivation_wrapper .contact_button {
	/* 1920 - 20, 375 - 16  */
	font-size: clamp(1rem, 0.9393rem + 0.2589vw, 1.25rem);
	/* 1920 - 8/20, 375 - 5/14  */
	padding: clamp(0.3125rem, 0.267rem + 0.1942vw, 0.5rem)
		clamp(0.875rem, 0.784rem + 0.3883vw, 1.25rem);
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;

	/* 1920 - 70, 375 - 30  */
	padding: clamp(1.875rem, 1.2682rem + 2.589vw, 4.375rem) 0;
	gap: clamp(1.875rem, 1.2682rem + 2.589vw, 4.375rem);
	flex: 1;
	/* 1920 - 100, 375 - 20 */
	padding-left: clamp(1.25rem, 0.4915rem + 3.2362vw, 4.375rem);
	position: relative;
}

.hand {
	position: absolute;
	left: 50%;
	bottom: 1%;
	transition: all 0.3s;
}

.image_1 {
	width: max(70vw, 520px);
	height: 100%;
	box-sizing: border-box;
	object-fit: cover;
	position: absolute;
	top: 0;
	right: -100px;
	opacity: 0.5;
	border: var(--border);
	border-bottom: none;
	background: url('../../Assets//image_1.png');
	transition: all 0.3s;
	filter: blur(3px);
}

@media (max-width: 1100px) and (min-width: 870px) {
	.root .hand {
		bottom: 100px;
	}
}
@media (max-width: 870px) {
	.root {
		padding-bottom: 20px;
		box-sizing: border-box;
	}
	.root .hand {
		left: -20px;
		bottom: -30px;
		opacity: 0.6;
		z-index: 12;
	}
}

@media (max-width: 700px) {
	.image_1 {
		opacity: 0.4;
		filter: brightness(50%);
	}
}
