.root {
	position: relative;
	height: var(--section-height);
	width: 100dvw;
	display: flex;
	flex-direction: column;

	box-sizing: border-box;
	gap: 20px;
	overflow: hidden;
	/* 1920 - 100, 375 - 40 */
	--columns-gap: clamp(2.5rem, 1.5898rem + 3.8835vw, 6.25rem);
	--left-column: calc(60dvw - var(--columns-gap));

	/* 1920 - 200, 375 - 70 */
	--title-size: clamp(4.375rem, 2.4029rem + 8.4142vw, 12.5rem);

	text-shadow: var(--text-shadow);
	--right-image-width: max(calc(30dvw));
	--top-section-height: max(30dvh, 180px);
}

.section_title {
	color: var(--color-white-dark);
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: var(--title-size);
	font-weight: 700;
	text-transform: uppercase;
	opacity: 0.4;
	bottom: 0;
	left: 10px;
	line-height: 1;
	writing-mode: sideways-lr;
	white-space: nowrap;
	z-index: 2;
}

.section_title.ru {
	/* 1920 - 140, 375 - 70 */
	font-size: clamp(4.375rem, 3.3131rem + 4.5307vw, 8.75rem);
}

.image {
	object-fit: cover;
	opacity: 0.7;
	position: absolute;
}
.image_1 {
	width: max(var(--left-column), 500px);
	height: var(--top-section-height);
	object-fit: cover;
	z-index: -1;
}

.image_2 {
	height: var(--section-height);
	width: var(--right-image-width);
	right: 0px;
	bottom: 0;
}

.greeting {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-weight: 300;
	z-index: 2;
	backdrop-filter: brightness(60%);
	height: auto;
	height: fit-content;
	justify-content: center;
	width: 100%;
	padding: 20px 40px;
	gap: 20px;
	height: var(--top-section-height);
	box-sizing: border-box;
	/* 1920 - 32, 375 - 18 */
	font-size: clamp(1rem, 0.7573rem + 1.0356vw, 2rem);
	white-space: pre-line;
	border: var(--border);
	border-left: none;
}

.greeting_row {
	color: var(--color-white-secondary);
	text-align: right;
}
.greeting_row__accent {
	color: var(--color-red);
	text-align: left;
	margin-left: auto;
}

.description {
	height: fit-content;
	padding-right: calc(var(--right-image-width) + 40px);
	padding-left: var(--title-size);
	display: flex;
	justify-content: center;
	width: 100%;
	box-sizing: border-box;
	display: none;
}

.description_alternative {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 20px calc(var(--right-image-width) + 40px) 20px
		calc(var(--title-size) + 40px);
	box-sizing: border-box;
	align-items: center;
}

.description_alternative_item {
	/* 1920 - 22, 375 - 14 */
	width: 70%;
	font-size: clamp(0.875rem, 0.6989rem + 0.5634vw, 1.375rem);
	margin-right: 20%;
	position: relative;
}

.description_alternative_item::before {
	content: ' ';
	background: url('../../Assets/gummy_bears.png') no-repeat;
	background-size: contain;
	width: 25px;
	height: 20px;
	left: -35px;
	bottom: 0px;
	position: absolute;
	opacity: 0.5;
}

.description_alternative_item:nth-child(2n) {
	color: var(--color-white-secondary);
	text-align: right;
	margin-right: unset;
	margin-left: 20%;
}

.description_alternative_item:nth-child(2n)::before {
	left: unset;
	right: -35px;
}

.description_alternative_item.description_alternative_item__short {
	display: none;
}

.standard {
	/* 1920 - 32, 375 - 16 */
	font-size: clamp(1rem, 0.6479rem + 1.1268vw, 2rem);
	display: flex;
	align-items: center;
	margin-top: auto;
	padding-bottom: 20px;
	padding-left: var(--title-size);
	width: max(40%, 300px);
}

.content {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex: 1;
}

@media (max-width: 1700px) {
	.description {
		margin-top: 0;
	}
}

@media (max-width: 1100px) {
	.root {
		padding-left: 0;
	}
	.greeting {
		margin-left: unset;
		margin-right: auto;
	}
	.image.image_2 {
		opacity: 0.2;
	}
	.description_alternative {
		padding-right: 40px;
	}
}

@media (max-width: 900px) {
	.description {
		display: none;
	}
	.image.image_2 {
		opacity: 0.2;
	}
}

@media (max-width: 1300px) and (max-height: 750px) {
	.description_alternative_item {
		display: none;
	}

	.description_alternative_item.description_alternative_item__short {
		display: block;
		margin: unset;
	}
}

@media (max-width: 450px) {
	.root {
		padding-left: 0;
	}
	.greeting {
		white-space: normal;
	}

	.image {
		opacity: 0.4;
	}

	.image_1,
	.greeting {
		--top-section-height: max(25dvh, 160px);
	}

	.section_title {
		position: relative;
		writing-mode: unset;
		text-align: right;
		margin-bottom: -10px;
		margin-top: 20px;
		margin-right: 10px;
	}

	.standard {
		padding-left: 20px;
		margin-bottom: -50px;
	}

	.description_alternative {
		padding: 20px 45px;
		height: fit-content;
	}

	.description_alternative_item,
	.description_alternative_item:nth-child(2n) {
		width: 100%;
		margin-left: unset;
		margin-right: unset;
	}
}
