@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	--font-family: 'Comfortaa', serif;
	font-family: var(--font-family);
	font-size: 16px;
	font-weight: 300;

	--color-black-bg: #1d1d1d;
	--color-white-font-title: #f8f8f8de;
	--color-white-secondary: #b8b8b8e8;
	--color-white-dark: #696969;
	--color-blue-light: #326f95;
	--color-blue-lighter: rgba(64, 165, 228, 0.4);
	--color-blue-dark: #1b384b;
	--color-blue-dark_2: #252d3e;
	--color-blue: rgba(64, 165, 228, 1);
	--color-red: #d76d71;
	--color-accent: var(--color-blue-light);
	--color-accent-dark: var(--color-blue-dark_2);
	--color-gray: #3b3b3b;
	--box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.8);

	--navbar-height: clamp(4.375rem, 3.9199rem + 1.9417vw, 6.25rem);
	--section-height: calc(100dvh - var(--navbar-height));
	--float-animation: float 6s ease-in-out infinite;

	--text-shadow: -1px -1px 0 var(--color-accent-dark),
		1px -1px 0 var(--color-accent-dark), -1px 1px 0 var(--color-accent-dark),
		1px 1px 0 var(--color-accent-dark);
}

body {
	margin: 0;
	display: flex;
	min-width: 320px;
	min-height: 100vh;
	background-color: var(--color-black-bg);
	color: var(--color-white-font-title);
	overflow-x: hidden;
	font-family: var(--font-family);
}
* {
	font-family: var(--font-family);
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar:hover {
	width: 18px;
}

::-webkit-scrollbar-track {
	background-color: var(--color-black-bg);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-accent-dark);
	border-radius: 5px;
}

body:has([class*='Sheet_shown_']) {
	overflow: hidden;
}

body:has([class*='Sheet_shown_'])::-webkit-scrollbar {
	display: none;
}

#root {
	flex-grow: 1;
	height: 100vh;
}

* {
	-webkit-tap-highlight-color: transparent;
}

input,
button {
	font-family: var(--font-family);
}

@keyframes float {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0px);
	}
}
