.root {
	position: relative;
	color: var(--color-white-secondary);
	height: fit-content;
	display: flex;
	flex-direction: column;
	padding: 40px 0;
	box-sizing: border-box;
	gap: 20px;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap-reverse;
	width: max(80%, 900px);
}

.content_row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.counter {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	flex-direction: column;
	height: 100%;
	gap: 50px;
}

.counter .counter_image {
	opacity: 0.4;
	transform: translateY(0px);
	animation: var(--float-animation);
}
.content {
	width: 60%;
	text-align: right;
	line-height: 1.4;
	height: 100%;
	/* 1920 - 32, 375 - 18 */
	font-size: clamp(1rem, 0.7573rem + 1.0356vw, 2rem);
	font-weight: 400;
}

.buttons_row {
	display: flex;
	justify-content: center;
	gap: 10px;
	position: relative;
}

.point_button,
.arrow_button {
	background: transparent;
	border: none;
	cursor: pointer;
}

.point_button_image {
	/* 1920 - 30, 375 - 20  */
	width: clamp(1.25rem, 1.0983rem + 0.6472vw, 1.875rem);
	height: auto;
	opacity: 0.4;
	transition: all 0.3s;
}

.arrow_button_image {
	/* 1920 - 45, 375 - 30  */
	width: clamp(1.875rem, 1.6475rem + 0.9709vw, 2.8125rem);
	height: auto;
	opacity: 0.7;
	transition: all 0.3s;
}

.point_button__active .point_button_image {
	opacity: 0.7;
}

.point_button:hover .point_button_image {
	transform: translateY(-6px);
}

.arrow_button__left .arrow_button_image {
	transform: rotate(180deg);
}

.arrow_button__right:hover .arrow_button_image {
	transform: translateY(-6px);
}

.arrow_button__left:hover .arrow_button_image {
	transform: rotate(180deg) translateY(6px);
}

@media (max-width: 900px) {
	.root .content_row {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}

	.root {
		width: fit-content;
	}
	.content {
		width: 70%;
		text-align: center;
		margin-bottom: 10px;
	}

	.timer {
		position: absolute;
		bottom: -5px;
		z-index: -1;
		right: -50px;
		width: 50px;
		height: 50px;
	}
}

@media (max-width: 500px) {
	.content {
		width: calc(100% - 30px);
		text-align: center;
		margin-bottom: 10px;
	}

	.timer {
		position: absolute;
		bottom: 10px;
		z-index: -1;
		right: -30px;
		width: 30px;
		height: 30px;
	}
}
